@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}


.navbar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.icon {
    gap: 1rem;
    width: 24px;
    height: 24px;

}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navba h1 {
    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero-container {
    display: flex;
}

.hero-title {
    max-width: 582px;
}

.hero-images {
    max-width: 440px;
    height: 414px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


.hero-imaege {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.