
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
display: flex;
gap: 2rem;

}
.navbar li{
list-style: none;
}
.navbar li a{
text-decoration: none;
color: black;
}