@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}


.navbar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon{
    
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: rgba(58, 58, 58, 1);
    font-family: Poppins;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;

}

.icon {
    gap: 1rem;
    width: 24px;
    height: 24px;

}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

.navba h1 {
    font-size: clamp(2rem, 6vw, 4.5rem);
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.hero-title {
    max-width: 582px;

}

.hero-title h1 {
    color: rgba(58, 58, 58, 1);

    font-family: Poppins;
    font-style: Bold;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.hero-container {
    margin-top: 4rem;
}

.hero-images {
    max-width: 440px;
    height: 414px;
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.hero-imaege {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.btn {
    padding: 4px 10px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: 700;

}

.svges {
    width: 16px;
    height: 14px;
}

@media screen and (max-width: 576px) {
    .navbar{
        width: 100%;
        height: 100%;
    }
    .navbar h1{
        font-size: 16px;
    }

    .navbar ul li{
        display: none;
    }
    .hero-container{
        flex-direction: column-reverse;
        margin-top: 2rem;
    }

    .hero-container h1{
        text-align: center;
    }
    .hero-container p{
        text-align: center;
    }
    .hero-title{
        

    }
    .hero-image, .hero-images{
        width: 100%;
        height: 100%;
    }
    .btn{
        margin: 0 auto;
      }
}