@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.icon {
    display: flex;
    gap: 1rem;
    width: 24px;
    height: 24px;
    font-weight: 700;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: black;
}